.summary {
  justify-content: center;
  align-items: center;
}

.incident {
  background-color: #2a2e32;
}

.incident > h4 {
  margin: 5px;
}

.day > h1 {
  cursor: pointer;
}

.day > .day-header > hr {
  border: solid 1px #f5f5f5;
  width: 33%;
  padding: 0;
  margin-top: 0;
}

.day > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.incident-summary {
  cursor: pointer;
  text-decoration: underline;
}

.incident-status {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #bbb;
}

.hour-mark {
  float: right;
  width: 25px;
  height: 25px;
  user-select: none;
}

.no-hour-mark {
  float: right;
  width: 25px;
  height: 25px;
  user-select: none;
}
