.context-menu {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 3px #000000;
  text-align: center;
}

.context-menu > ul {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px;
}

.context-menu > ul > li {
  padding: 0px;
  cursor: pointer;
}

.context-menu > ul > li:hover {
  color: green;
}