.context-menu {
  position: absolute;
  background-color: #2a2e32;
  border-radius: 8px;
  box-shadow: 0 0 3px #000000;
  text-align: center;
}

.context-menu > ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

.context-menu > ul > li {
  padding: 0;
  cursor: pointer;
  background: transparent
}

.context-menu > ul > li:hover {
  color: #5fb15f;
}
