.header {
  width: 100%;
  color: #ffffff;
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: left;
}

.menu > .menu-left {
  justify-content: left;
}

.menu-right {
  position: absolute;
  right: 0;
  padding: 0px 15px 0px 15px;
  align-items: center;
  justify-content: right;
  display: flex;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 8px;
}

.menu-right > p,
.menu-left > p {
  padding: 15px;
  color: #ffffff;
}
