@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');

* {
  font-family: 'Titillium Web', sans-serif;
}

html, body, #root {
  background-color: #285FBA;
  background-image: linear-gradient(to right,#285FBA, #7535AD);
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}