* {
  font-family: "Titillium Web", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-name: background;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.loading-spinner:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loading-spinner 1.2s linear infinite;
}

.input {
  background-color: #f0eef1;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  color: #1d1d1d;
  text-align: center;
  font-size: 22px;
  margin: 10px 0px 10px 0px;
  padding: 3px;
}

.submit {
  margin: 5px;
  color: #ffffff;
  background-color: #2ebc2e;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes background {
  0% {
    background-color: #006400;
  }
  25% {
    background-color: #228B22;
  }
  50% {
    background-color: rgb(17, 173, 17);
  }
  75% {
    background-color: #009500;
  }
  100% {
    background-color: #006400;
  }
}

input[type="checkbox"] {
  display: none;
}

.checkbox-label {
  margin: 0 10px 0 0;
  cursor: pointer;
  width: 45px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.checkbox-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .checkbox-label {
  background: #2ebc2e;
}

input[type="checkbox"]:checked + .checkbox-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.checkbox-label:active:after {
  width: 25px;
}

input[type="radio"] {
  display: none;
}

.radio-label {
  margin: 0 10px 0 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.radio-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.4s;
}

input[type="radio"]:checked + .radio-label {
  background: #2ebc2e;
}