h3 {
  padding: 0px;
  margin: 0px;
}

.settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 2px #ffffff;
  background-color: #ffffff;
  padding: 20px 15px 20px 15px;
  border-radius: 8px;
}

p,
a {
  margin: 0px;
  color: #000000;
}
